.header {
  max-width: auto;
  margin-top: 10px;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: rgb(238, 95, 95);
}

.header__search {
  margin-left: 10px;
  color: #001453;
  font-size: 30px;
  font-weight: bold;
}
.top__btn {
  display: flex;
  flex-direction: row;
}
.find__button {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  height: 35px;
  width: 100px;
  margin-top: 3px;
  background-color: #fff;
}
.find__button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  height: 35px;
  width: 100px;
  margin-top: 3px;
  background-color: rgba(13, 4, 65, 0.349);
}

.first__div {
  background-color: brown;
}
.first__dir {
  background-color: blue;
}

.grid__table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  box-sizing: border-box;
}

/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;
}

/* Give every child element its grid name */
.header {
  margin: 5px;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  background-color: #fff;
  border: 2px solid #dadada;
  border-radius: 5px;
}

/* Make room for the menu icon on mobile */
.header__search {
  margin-left: 42px;
}

.main-header {
  background-color: #e3e4e6;
  color: slategray;
}

.overviewcard {
  border-radius: 5px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.image__card {
  display: flex;
  flex-direction: column;
}
.overviewcard__icon {
  font-size: larger;
  font-weight: bolder;
}
.overviewcard__info {
  letter-spacing: 3px;
}
.overviewcard:first-child {
  background-image: url('../img/blue.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.overviewcard:nth-child(2) {
  background-image: url('../img/green.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.overviewcard:nth-child(3) {
  background-image: url('../img/yellow.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.overviewcard:nth-child(4) {
  background-image: url('../img/red.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.overviewcard1 {
  height: 40%;
  margin-top: 15px;
  display: grid;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #dadada;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin-bottom: 20px;

  padding: 24px;
  box-sizing: border-box;
}

/* Force varying heights to simulate dynamic content */
.card:first-child {
  height: 350px;
}

.card:nth-child(2) {
  height: 350px;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #dadada;
}

@media (max-width: 800px) {
  .header,
  .main-nav,
  .top__btn,
  .btn,
  .header__search {
    display: flex;
  }
  .header .top__btn {
    padding: 10px;
    width: 100%;
    flex-direction: column;
  }
  .top__btn button {
    width: 100%;
  }
  .top__btn1 {
    margin-left: 15px;
    margin-top: 70px;
    width: 100%;
  }
  .top__btn2 {
    margin-left: 15px;
    margin-top: 10px;
    width: 100%;
  }

  .main {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}

@media (min-width: 1025px) {
}

/* Responsive */

@media (max-width: 500px) {
  .header {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
