body {
  color: #001453;
  font-family: 'Open Sans', Helvetica, sans-serif;
  background-color: #f8f8f8;
}

.find__button {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  height: 35px;
  width: 100px;
  margin-top: 3px;
  background-color: #fff;
}
.find__button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  height: 35px;
  width: 100px;
  margin-top: 3px;
  background-color: rgba(13, 4, 65, 0.349);
}

.first__div {
  background-color: brown;
}
.first__dir {
  background-color: blue;
}

.grid__table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

/* Give every child element its grid name */
.header {
  margin: 5px;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  background-color: #fff;
  border: 2px solid #dadada;
  border-radius: 5px;
}

/* Make room for the menu icon on mobile */

.overviewcard__info {
  letter-spacing: 3px;
}
.overviewcard:first-child {
  background-image: url('../img/blue.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.overviewcard:nth-child(2) {
  background-image: url('../img/green.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.overviewcard:nth-child(3) {
  background-image: url('../img/yellow.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.overviewcard:nth-child(4) {
  background-image: url('../img/red.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Force varying heights to simulate dynamic content */
.card:first-child {
  height: 350px;
}

.card:nth-child(2) {
  height: 350px;
}

.footer {
  background-color: #dadada;
}
